html, body {

      margin: 0;
      padding: 0;
      cursor: none;
}

.nav-wrapper {
      text-align: center;
      display:block;
      background: #bb8fce
      padding:.5em;
      margin:1em;

}



.hover-this {
      transition: all 0.3s ease;
}

span {
      height:500px;
      display:block;
      height:2.5em;

      padding:.01em 0 .01em 0;
      font-family: "Monument Extended";
      font-weight: 300;
      color: #fff;
      font-size: 30px;
      text-transform: uppercase;
      pointer-events: none;
      transition: transform .1s linear;

}

.cursor {
      pointer-events: none;
      position: fixed;
      padding: 0.5rem;
      background-color: #fff;
      border-radius: 100%;
      mix-blend-mode: difference;
      transition: transform 0.3s ease;
}

.hover-this:hover ~ .cursor {
      transform: translate(-50%, -50%) scale(8);
}

@media(min-width: 900px) {
      nav {
            display: flex;
            justify-content: space-around;
      }
}

@media(max-width: 900px) {
      nav {
            top: 30%;
      }

      .hover-this {
            width: 100%;
            padding: 20px 0;
            display: inline-block;
      }
}
